@using Booben.Models;
@model Booben.Models.User
@{
    Layout = null;
}

@using (Html.BeginForm("SaveUser", "Main", FormMethod.Post))
{
    <table class="st" style="width: 700px" cellpadding="1" cellspacing="0">
        <tr>
            <td colspan="2">
                Fill your information
            </td>
        </tr>
        <tr>
            <td valign="top">
                <table>
                    <tr>
                        <td>
                            @Model.Picture
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Load picture
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.EditorFor(m => m.Author.IsActive)
                        </td>
                    </tr>
                </table>
            </td>
            <td valign="top">
                <table>
                    <tr>
                        <td colspan="2" align="right" nowrap>
                            @if (!Model.Friends.Any(x => x.Login == ViewBag.MyLogin && x.IsActive.Value))
                            {
                                <a href="Main?op=requestfriend&retop=@ViewBag.ReturnOperation&login=@Model.Login&friendlogin=@Model.Login&key=@ViewBag.SecKey">Request friend !</a>
                            }
                            else
                            {
                                <a href="Main?op=deletefriend&retop=@ViewBag.ReturnOperation&login=@Model.Login&friendlogin=@Model.Login&key=@ViewBag.SecKey">Delete friend !</a>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="right" nowrap>
                            @if (!Model.Author.Likes.Any(x => x.Login == ViewBag.MyLogin))
                            {
                                <a href="Main?op=likeuser&retop=@ViewBag.ReturnOperation&login=@Model.Login&key=@ViewBag.SecKey">Like!<span>(+@Model.Author.Likes.Count)</span></a>
                            }
                            else
                            {
                                <div>Like!<span>(+@Model.Author.Likes.Count)</span></div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Login
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Login)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Password
                        </td>
                        <td>
                            @Html.PasswordFor(m => m.Password)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Repeat Password
                        </td>
                        <td>
                            @Html.PasswordFor(m => m.Password)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Email
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Email)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            From
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.From)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Sex
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Sex)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Age
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Age)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Interests
                        </td>
                        <td>
                            @Html.TextAreaFor(m => m.Interests)
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                @Html.Partial("Context")

                @if (ViewBag.IsMyGroup)
                {
                    @Html.HiddenFor(m => m.SecKey)
                    <input class="st" id="register" name="btn" style="width: 200px" type="submit" value="Save"
                       tabindex="1" />
                }

                <input class="st" id="register" name="btn" style="width: 200px" type="submit" value="Cancel"
                       tabindex="1" />
            </td>
        </tr>
    </table>
}