@using Booben.Models;
@model Booben.Models.User
@{
    Layout = null;
}

<table>
    @foreach (var item in Model.GetNewLikes())
    {
        <tr>
            <td nowrap>
                @if (item.Where.Type == "User")
                {
                    @Html.Partial("Content/Item/User", item.GetWhereObject())
                }
                else if (item.Where.Type == "Group")
                {
                    @Html.Partial("Content/Item/Group", item.GetWhereObject())
                }
                else if (item.Where.Type == "Robot")
                {
                    @Html.Partial("Content/Item/Robot", item.GetWhereObject())
                }
                else if (item.Where.Type == "Library")
                {
                    @Html.Partial("Content/Item/Library", item.GetWhereObject())
                }
                else if (item.Where.Type == "Comment")
                {
                    @Html.Partial("Content/Item/Comment", item.GetWhereObject())
                }
            </td>
        </tr>
        <tr>
            <td nowrap>
                @item.What.Message
            </td>
        </tr>
    }
</table>