@using Booben.Models;
@model Booben.Models.User
@{
    Layout = null;
}

<table border="1">
    <tr>
        <td colspan="5">
            Private messages
        </td>
    </tr>
    <tr>
        <td>
            On Date
        </td>
        <td>
            From Login
        </td>
        <td>
            To Login
        </td>
        <td>
            Message
        </td>
        <td>
            Reply
        </td>
    </tr>
    @foreach (var pm in Model.PrivateMessages)
    {
        <tr>
            <td>
                @pm.OnDate
            </td>
            <td>
                @pm.FromLogin
            </td>
            <td>
                @pm.ToLogin
            </td>
            <td>
                @pm.Message
            </td>
            <td>
                @if (ViewBag.MyLogin != pm.FromLogin)
                {
                    <a href="Main?op=privmessages&retop=@ViewBag.ReturnOperation&replylogin=@pm.FromLogin&login=@ViewBag.Login&key=@ViewBag.SecKey">Reply</a>
                }
            </td>
        </tr>
    }
    <tr>
        <td colspan="5">
            Send messages:
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <table>
                @using (Html.BeginForm("SendPrivateMessage", "Main", FormMethod.Post))
                {
                    <tr>
                        <td>
                            To Login:
                        </td>
                        <td>
                            <input type="text" id="toLogin" name="toLogin" value="@ViewBag.ReplyLogin" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Message:
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            @Html.Partial("Context")
                            <textarea id="message" name="message" rows="2"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input class="st" id="register" name="btn" style="width: 200px" type="submit" value="Send"
                                   tabindex="1" />
                        </td>
                    </tr>
                }
            </table>
        </td>
    </tr>
</table>