@model BigDocForum.Models.Article
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>BigDoc Forum</title>
</head>
<body>
    @using (Html.BeginForm("send", "Article", FormMethod.Post))
    {
        <input type="hidden" name="id" value="@Model.ID" />
        <center>
            <table border="1" style="width: 1000px;">
                <tr>
                    <td colspan="2">
                        @Model.Title
                    </td>
                </tr>
                <tr>
                    <td style="width: 30%">
                        @Model.Author
                    </td>
                    <td style="width: 70%">
                        @Model.Text
                    </td>
                </tr>
                @if (Model.Messages != null)
                {
                    foreach (var m in Model.Messages)
                    {
                    <tr>
                        <td>
                            @m.Author
                        </td>
                        <td>
                            @m.Text
                        </td>
                    </tr>
                    }
                }
                <tr>
                    <td colspan="2">
                        @if (Model.CountMessage > 3)
                        {
                            <table>
                                <tr>
                                    @for (int page = 0; page < Model.CountMessage; page += 3)
                                    {
                                        int currPage = (page / 3) + 1;
                                        
                                        if (currPage == Model.CurrentPage)
                                        {
                                            <td>
                                                @currPage
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <a href="@(Url.Content("~/article/index/") + Model.ID.ToString() + "?cp=" + currPage.ToString())">@currPage</a>    
                                            </td>
                                        }
                                    }
                                </tr>
                            </table>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="@(Url.Content("~/"))">
                            Вернуться
                         </a>
                    </td>
                    <td align="right">
                        <input type="submit" name="btn" style="width: 50%" value="Добавить новое сообщение" />
                    </td>
                </tr>
            </table>
        </center>
    }
</body>
</html>
