@using Booben.Models;
@model Booben.Models.User
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Booben - Registration</title>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    @using (Html.BeginForm("Register", "Registration", FormMethod.Post))
    {
        <center>
            <table class="st" style="width: 700px" cellpadding="1" cellspacing="0">
                <tr>
                    <td colspan="2">
                        @Html.Partial("Error")
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Fill your information
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <table>
                            <tr>
                                <td>
                                    @Model.Picture
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Load picture
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.EditorFor(m => m.Author.IsActive)
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td valign="top">
                        <table>
                            <tr>
                                <td>
                                    Login
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Login)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Password
                                </td>
                                <td>
                                    @Html.PasswordFor(m => m.Password)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Repeat Password
                                </td>
                                <td>
                                    <input id="RepeatPassword" name="RepeatPassword" type="password" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Email
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Email)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    From
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.From)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sex
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Sex)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Age
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Age)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Interests
                                </td>
                                <td>
                                    @Html.TextAreaFor(m => m.Interests)
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="right">
                        @Html.HiddenFor(m => m.SecKey)

                        <input class="st" id="prev" name="btn" style="width: 200px" type="submit" value="<< Back"
                               tabindex="1" />
                    </td>
                    <td colspan="2" align="right">
                        <input class="st" id="register" name="btn" style="width: 200px" type="submit" value="Register!"
                               tabindex="1" />
                    </td>
                </tr>
            </table>
        </center>
    }
</body>
</html>
