@using Booben.Models;
@model Booben.Models.Robot
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Booben - Robot Configuration</title>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    @using (Html.BeginForm("SaveSource", "Robot", FormMethod.Post))
    {
        <center>
            <table class="st" style="width: 700px" cellpadding="1" cellspacing="0">
                <tr>
                    <td colspan="2">
                        Fill source information - STEP 2
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.Partial("Error")
                    </td>
                </tr>
                <tr>
                    <td>
                        Source type:
                    </td>
                    <td>
                        @{
                            List<SelectListItem> sources = new List<SelectListItem>();
                            sources.Add(new SelectListItem
                            {
                                Text = "Online",
                                Value = "online",
                                Selected = true
                            });
                            sources.Add(new SelectListItem
                            {
                                Text = "habrahabr.ru",
                                Value = "habrahabr.ru"
                            });
                            sources.Add(new SelectListItem
                            {
                                Text = "dou.ua",
                                Value = "dou.ua"
                            });
                            sources.Add(new SelectListItem
                            {
                                Text = "sql.ru",
                                Value = "sql.ru"
                            });
                            sources.Add(new SelectListItem
                            {
                                Text = "skoda-club.org.ua",
                                Value = "skoda-club.org.ua"
                            });
                            sources.Add(new SelectListItem
                            {
                                Text = "searchengines.guru",
                                Value = "searchengines.guru"
                            });
                            sources.Add(new SelectListItem
                            {
                                Text = "velokiev.com",
                                Value = "velokiev.com"
                            });
                            sources.Add(new SelectListItem
                            {
                                Text = "gamedev.ru",
                                Value = "gamedev.ru"
                            });
                            sources.Add(new SelectListItem
                            {
                                Text = "lambda-the-ultimate.org",
                                Value = "lambda-the-ultimate.org"
                            });
                            sources.Add(new SelectListItem
                            {
                                Text = "forumua.org",
                                Value = "forumua.org"
                            });
                            sources.Add(new SelectListItem
                            {
                                Text = "fxclub.org",
                                Value = "fxclub.org"
                            });
                            sources.Add(new SelectListItem
                            {
                                Text = "sevastopol.info",
                                Value = "sevastopol.info"
                            });
                        }

                        @Html.DropDownListFor(m => m.Source.Type, sources, new { @class = "st", @style = "width:30%" })

                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <table border="1">
                            <tr>
                                <td align="right">
                                    <input class="st" id="addurl" name="btn" style="width: 200px" type="submit" value="Add URL"
                                        tabindex="1" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Address
                                </td>
                                <td>
                                    Delete
                                </td>
                            </tr>
                            @for (int i = 0; i < Model.Source.URLS.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Html.TextBoxFor(m => m.Source.URLS[i].Address)
                                    </td>
                                    <td>
                                        <a>Delete</a>
                                    </td>
                                </tr>
                            }
                        </table>        
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr />
                    </td>
                </tr>
                <tr>
                    <td>
                        Period type:
                    </td>
                    <td>
                        @{
                            List<SelectListItem> periodTypes = new List<SelectListItem>();
                            periodTypes.Add(new SelectListItem
                            {
                                Text = "All period",
                                Value = "All",
                                Selected = true
                            });
                            periodTypes.Add(new SelectListItem
                            {
                                Text = "Last day",
                                Value = "Day"
                            });
                            periodTypes.Add(new SelectListItem
                            {
                                Text = "Last week",
                                Value = "Week"
                            });
                            periodTypes.Add(new SelectListItem
                            {
                                Text = "Last month",
                                Value = "Month"
                            });
                            periodTypes.Add(new SelectListItem
                            {
                                Text = "Last year",
                                Value = "Year"
                            });
                        }

                        @Html.DropDownListFor(m => m.Period.Type, periodTypes, new { @class = "st", @style = "width:200px" })
                    </td>
                </tr>
                <tr>
                    <td>
                        From date:
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Period.FromDate)
                    </td>
                </tr>
                <tr>
                    <td>
                        To date:
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Period.ToDate)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr />
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <input class="st" id="previous" name="btn" style="width: 200px" type="submit" value="Previous"
                               tabindex="1" />
                    </td>
                    <td align="right">
                        @Html.Partial("Context")

                        <input class="st" id="next" name="btn" style="width: 200px" type="submit" value="Next"
                               tabindex="1" />
                    </td>
                </tr>
            </table>
        </center>
    }
</body>
</html>
